  
<tr class="post">
    <td><a href="/post/<%= post._id%>"><%= moment(post.createdAt).format(shortDateFormat) %></h3></a></td>
    <td><a href="/post/<%= post._id%>"><%= post.title %></h3></a></td>
    <td><h3 class="taskLabel <%= post.taskType ? post.taskType.toLowerCase() : '' %>"><%= post.taskType %> </h3></td>
    <td><h5 class="<%= post.state %>"> <%= post.state ? post.state.charAt(0).toUpperCase() + post.state.slice(1) : ''%> </h5></td>

    <td><%- post.caption %></td>
    <td><p><%= post.data %></p></td>
    <td><h5><%= post.minutes ? post.minutes + " minutes" : '' %></h5></td>
    <td><% if(post.user == user.id){ %>

  <button class="btn btn-primary fa fa-trash delete" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark rounded">
      <div class="modal-header border-none">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Delete this task?</strong></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-dark">
        This will remove this task from your list and all reports it appears on. <strong>This cannot be undone!</strong>
      </div>
      <div class="modal-footer d-flex justify-content-end">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nevermind</button>
        <form
        action="/post/deletePost/<%= post._id %>?_method=DELETE"
        method="POST"
        id="delete<%=post._id %>"
        class="col d-flex justify-content-end">
        <button type="submit" class="btn btn-danger">I'm sure - Trash This Task</button>
        <!-- <div class="alert alert-info fade">Task deleted.</div> -->
      </form>
      </div>
    </div>
  </div>
</div>
        <% } %></td>
</tr>